.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh; /* full-page center */
  text-align: center;
}
.spinner {
  width: 50px;
  height: 50px;
  border: 6px solid #ddd;
  border-top: 6px solid #007bff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.parentforAbout {
  padding-top: 4rem;
}
.parentforAbout .headingforAbout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px black;
  height: 10vh;
  padding: 1rem;
}
.parentforAbout .headingforAbout h2 {
  font-size: 35px;
  font-weight: lighter;
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
}
.parentforAbout .headingforAbout .aboutIcon {
  font-size: 30px;
  color: gray;
}
.parentforAbout .aboutMeSection {
  display: flex;
  padding: 1rem;
  justify-content: space-around;
  flex-direction: row;
  margin: 2rem;
}
.parentforAbout .aboutMeSection .infoPart {
  width: 40%;
}
.parentforAbout .aboutMeSection .infoPart .cardTitle {
  font-size: 25px;
  font-weight: lighter;
  /* font-style: italic; */
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}
.parentforAbout .aboutMeSection .infoPart p {
  line-height: 1.5rem;
  font-family: "Times New Roman", Times, serif;
}
.parentforAbout .aboutMeSection .infoPart .aboutParagraph {
  text-align: center;
}
.parentforAbout .aboutMeSection .infoPart .line {
  background-color: black;
  height: 1px;
  margin: 2rem;
}
.parentforAbout .aboutMeSection .infoPart .personalDetails {
  margin-top: 1rem;
}
.parentforAbout .aboutMeSection .infoPart .personalIntel {
  margin-bottom: 0.8rem;
}
.parentforAbout .aboutMeSection .infoPart .personalIntel span {
  font-weight: bold;
}
.parentforAbout .aboutMeSection .imagePart {
  width: 40%;
  display: grid;
  place-content: center;
}
.parentforAbout .aboutMeSection .imagePart img {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}
.cardinfoPart,
.cardPersnalInfo {
  padding: 1rem;
}
@media screen and (max-width: 44.375em) {
  .parentforAbout {
    padding-top: 5.5rem;
  }
  .parentforAbout .headingforAbout {
    height: 6vh;
  }
  .parentforAbout .headingforAbout h2 {
    font-size: 25px;
  }
  .parentforAbout .headingforAbout .aboutIcon {
    font-size: 25px;
  }
  .parentforAbout .aboutMeSection {
    flex-direction: column;
    margin: 1rem;
  }
  .parentforAbout .aboutMeSection .infoPart {
    width: 100%;
  }
  .parentforAbout .aboutMeSection .infoPart .cardTitle {
    font-size: 20px;
  }
  .parentforAbout .aboutMeSection .infoPart p {
    font-size: 15px;
  }
  .parentforAbout .aboutMeSection .imagePart {
    width: 100%;
  }
  .parentforAbout .aboutMeSection .imagePart img {
    width: 300px;
    height: 300px;
  }
}
