.parentforAbout {
}
.parentforAbout .headingforAbout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px black;
  height: 10vh;
  padding: 1rem;
}
.parentforAbout .headingforAbout h2 {
  font-size: 35px;
  font-weight: lighter;
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
}
.parentforAbout .headingforAbout .aboutIcon {
  font-size: 30px;
  color: gray;
}
.parentforAbout .aboutMeSection {
  display: flex;
  padding: 1rem;
  justify-content: space-around;
  flex-direction: row;
  margin: 2rem;
}
.parentforAbout .aboutMeSection .infoPart {
  width: 40%;
}
.parentforAbout .aboutMeSection .infoPart .cardTitle {
  font-size: 25px;
  font-weight: lighter;
  /* font-style: italic; */
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}
.parentforAbout .aboutMeSection .infoPart p {
  line-height: 1.5rem;
  font-family: "Times New Roman", Times, serif;
}
.parentforAbout .aboutMeSection .infoPart .aboutParagraph {
  text-align: center;
}
.parentforAbout .aboutMeSection .infoPart .line {
  background-color: black;
  height: 1px;
  margin: 2rem;
}
.parentforAbout .aboutMeSection .infoPart .personalDetails {
  margin-top: 1rem;
}
.parentforAbout .aboutMeSection .infoPart .personalIntel {
  margin-bottom: 0.8rem;
}
.parentforAbout .aboutMeSection .infoPart .personalIntel span {
  font-weight: bold;
}
.parentforAbout .aboutMeSection .imagePart {
  width: 40%;
  display: grid;
  place-content: center;
}
.parentforAbout .aboutMeSection .imagePart img {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}
.cardinfoPart,
.cardPersnalInfo{
  padding: 1rem;
}
