.contact {
  padding-top: 4rem;
}
.contact .contactHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px black;
  height: 10vh;
  padding: 1rem;
}
.contact .contactHeader h2 {
  font-size: 35px;
  font-weight: lighter;
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
}
.contact .contactHeader .contactIcon {
  font-size: 30px;
  color: gray;
}
.talkdiv {
  padding-left: 2rem;
  padding-top: 2rem;
}
.contact form {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
.contact form .input {
  padding: 0.5rem;
  width: 90%;
  height: 3rem;
}
.textarea {
  border: solid 1px black;
  width: 90%;
  height: 10rem;
  border-radius: 10px;
  padding: 0.5rem;
}
.divsubmit input{
  padding: 0.5rem 10rem;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  font-style: italic;
}

@media screen and (max-width: 44.375em) {
  .contact{
    padding-top: 5.5rem;
  }
  .contact .contactHeader {
    height: 6vh;
  }
  .contact .contactHeader h2{
    font-size: 25px;
  }
  .contact .contactHeader .contactIcon{
    font-size: 25px;
  }
  .contact .talkdiv h2{
    font-size: 25px;
  }
  .contact form .divpart1{
    flex-direction: column;
    row-gap: 2rem;
  }
  .contact form .divpart1 .divName,
  .contact form .divpart1 .divEmail,
  .contact form .divMessage{
    width: 100%;
  }
    .contact form .divpart1 .divName label,
  .contact form .divpart1 .divEmail label,
  .contact form .divMessage label{
    font-size: 15px;
  }
  .contact form .divpart1 .divName .input,
  .contact form .divpart1 .divEmail .input,
  .contact form .divMessage .textarea{
    width: 100%;
    font-size: 15px;
  }
  .divsubmit input{
    font-size: 15px;
    padding: 0.5rem 5rem;
  }
}
