.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
}
.header .header1{
    width: 20%;
}
.header .header2 {
    width: 40%;
    display: flex;
    align-items: center;
    background-color: #aaa8a8;
    height: 100%;
    padding: 0 20px;
    border-radius: 5px;

}
.header .header2 ul{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.header .header2 ul li{
    list-style: none;
    display: flex;
    align-items: center;
}
.header .header2 ul li .link{
    text-decoration: none;
    color: #000;
}

.header .header2 ul li .link:hover{
    color: #6d6b6b;
}