.skills {
  padding-top: 4rem;
}
.skills .skillsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px black;
  height: 10vh;
  padding: 1rem;
}
.skills .skillsHeader h2 {
  font-size: 35px;
  font-weight: lighter;
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
}
.skills .skillsHeader .skillIcon {
  font-size: 30px;
  color: gray;
}
.skills section .accountant,
.skills section .fullstack {
  padding: 1rem;
  margin: 1rem;
}
.skills section .accountant .CardTitle,
.skills section .fullstack .CardTitle {
  font-size: 25px;
  font-weight: lighter;
  font-family: "Times New Roman", Times, serif;
}
.skills section .accountant .fullstackDetails,
.skills section .fullstack .fullstackDetails {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.skills section .accountant .fullstackDetails .frontend,
.skills section .fullstack .fullstackDetails .frontend {
  border: 1px solid black;
  border-radius: 10px;
  width: 40%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.skills section .accountant .fullstackDetails .frontend h3,
.skills section .fullstack .fullstackDetails .frontend h3 {
  font-size: 25px;
  font-weight: lighter;
  font-family: "Times New Roman", Times, serif;
}
.skills section .accountant .fullstackDetails .frontend div,
.skills section .fullstack .fullstackDetails .frontend div {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
.skills section .accountant .fullstackDetails .frontend div p,
.skills section .fullstack .fullstackDetails .frontend div p {
  font-size: 18px;
  color: gray;
  font-weight: lighter;
  font-family: "Times New Roman", Times, serif;
}
.skills section .accountant .fullstackDetails .frontend .skillbg,
.skills section .fullstack .fullstackDetails .frontend .skillbg {
  width: 100%;
  background-color: gray;
  height: 10px;
  border-radius: 10px;
}
.skills section .accountant .fullstackDetails .frontend .skillbg .skillonTopDiv,
.skills section .fullstack .fullstackDetails .frontend .skillbg .skillonTopDiv {
  background-color: rgb(61, 60, 60);
  height: 10px;
}

@media screen and (max-width: 44.375rem) {
   .skills {
    padding-top: 5.5rem;
  }
  .skills .skillsHeader {
    height: 6vh;
  }
  .skills .skillsHeader h2 {
    font-size: 25px;
  }
  .skills .skillsHeader .skillIcon {
    font-size: 25px;
  }
  .skills section .accountant .fullstackDetails,
  .skills section .fullstack .fullstackDetails {
    flex-direction: column;
  }
  .skills section .accountant .fullstackDetails .frontend,
  .skills section .fullstack .fullstackDetails .frontend {
    width: 100%;
  }
  .skills section .accountant .CardTitle,
  .skills section .fullstack .CardTitle {
    font-size: 20px;
  }
  .skills section .accountant .fullstackDetails .frontend h3,
  .skills section .fullstack .fullstackDetails .frontend h3 {
    font-size: 18px;
  }
  .skills section .accountant .fullstackDetails .frontend div p,
  .skills section .fullstack .fullstackDetails .frontend div p {
    font-size: 15px;
  }
}
/* @media screen and (max-width: 24rem) {
  .skills {
    padding-top: 4.5rem;
  }
  .skills .skillsHeader {
    height: 6vh;
    background-color: red;
  }
} */
